{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}{% block h2 %}Alpena Area Attractions &amp; Food{% endblock h2 %}{% endblock page_title %}

{% block extra_js %}
<script src="{% static 'js/jquery-1.11.1.min.js' %}" type="text/javascript"></script>
{% endblock extra_js %}

{% block content %}
    <p class="text-center">Click a checkbox to filter list. Click anywhere in a list item to view more information.</p>
    
    <div class="text-center">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="attractions" checked="true">Things to do
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="food" checked="true">Food &amp; Drink
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="lighthouses" checked="true">Lighthouses
            </label>
        </div>
    </div>
    
    <div class="list-group">
    {% for poi in poi_list %}
        <a href="{% url 'tourisminfo:detail' poi.slug %}" alt="More information" class="list-group-item {% if poi.highlight %}list-group-item-highlight {% endif %}{{ poi.category }}">
                <img src="{% static 'images/map_icons/'|add:poi.marker.icon.filename %}" class="pull-right">
                {% if poi.highlight %}<img src="{% static 'images/map_icons/mickey_thumb.png' %}" title="A Claire and Adam favorite&#8482;" class="pull-right">{% endif %}
                <h4 class="list-group-item-heading">{{ poi.full_name }}</h4>
                <p class="list-group-item-text">{{ poi.short_description }}</p>
        </a>
    {% empty %}
        <p>No attraction or food information at this time.</p>
    {% endfor %}
    </div>

{% endblock content %}

{% block body_end %}
<script type="text/javascript">
    $(document).ready(function() {
        $(':checkbox').change(function() {
            $('.'+this.name).slideToggle(300);
        });
    });
</script>
{% endblock body_end %}