{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% block page_description_whole %}
        <div class="text-center">
            {% block page_description %}{% endblock page_description %}
        </div>
    {% endblock page_description_whole %}
    
    {% block categories %}
    <div class="text-center checkbox-group">
        <em>Click a checkbox to filter list. <br>Click anywhere in a list item to view more information.</em>
        {% for category in categories %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="{{ category.0 }}" checked="true">{{ category.1 }}
                </label>
            </div>
        {% endfor %}
    </div>
    {% endblock categories %}
    
    <div class="list-group">
        {% for poi in poi_list %}
            <a href="{% block detail_url %}{% endblock detail_url %}" alt="More information" class="list-group-item {% if poi.highlight %}list-group-item-highlight {% endif %}{{ poi.category }}{% if poi.category2 %} {{ poi.category2 }}{% endif %}">
                    <img src="{% static poi.marker.icon.static_path %}" class="pull-right">
                    {% if poi.highlight %}<img src="{% static 'images/map_icons/mickey_thumb.png' %}" title="A Claire and Adam favorite&#8482;" class="pull-right">{% endif %}
                    <h4 class="list-group-item-heading">{{ poi.full_name }}</h4>
                    <p class="list-group-item-text">{{ poi.short_description }}</p>
            </a>
        {% empty %}
            <p class="text-center"><strong>
                {% block empty_description %}No listings available at this time{% endblock empty_description %}
            </strong></p>
        {% endfor %}
    </div>
    
    {% block post_list %}{% endblock %}
{% endblock content %}

{% block body_end %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(':checkbox').prop('checked', true);

            $(':checkbox').change(function() {
                $('.'+this.name).slideToggle(300);
            });
        });
    </script>
{% endblock body_end %}
