{% extends 'base.html' %}
{% load staticfiles %}
{% load core_tags %}
{% load googlemaps_tags %}

{% block page_title %}{{ poi.full_name }}{% endblock page_title %}

{% block h2 %}
    <img src="{% static 'images/map_icons/'|add:poi.marker.icon.filename %}" class="hidden-xs">
    &nbsp;&nbsp;{{ poi.full_name }}&nbsp;&nbsp;
    <img src="{% static 'images/map_icons/'|add:poi.marker.icon.filename %}"  class="hidden-xs">
{% endblock %}

{% block extra_css %}<link rel="stylesheet" type="text/css" href="{% static 'css/gmap.css' %}" />{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'tourisminfo:attractions_index' %}">Attractions &amp; Food</a></li>
        <li class="active">{{ poi.full_name }}</li>
    </ol>
{% endblock breadcrumb %}

{% block content %}
    {% if poi.image %}
        <div class="subheader-img-wrapper">
                <img src="{% static 'images/tourisminfo/'|add:poi.image.filename %}" class="img-responsive center-block">
                {% if poi.image.subtitle %}
                    <p class="text-center">{{ poi.image.subtitle }}</p>
                {% endif %} 
        </div>
    {% endif %}

    <div id="primary-text">
        <section>
            <h3>Description</h3>
            <p>{{ poi.description|safe|reverseurls|linebreaks }}<p>
        </section>
        
        {% if poi.review %}
        <section>
            <h3>Claire &amp; Adam's Review</h3>
            <p>{{ poi.review|safe|reverseurls|linebreaks }}</p>
        </section>
        {% endif %}
        
        <section>
            <h3>External Links</h3>
            <a href="{{ poi.link }}">{{ poi.link_description }}</a><br>
        </section>

        <section>
            <h3>Map</h3>

            <div class="gmap-wrapper hidden-xs text-center">
                <div id="map_canvas"></div>
                <p>
                    Note: The ceremony and reception sites are indicated with pink markers.<br>
                    <a href="https://www.google.com/maps/place/{{ poi.marker.lat|linkablelatitude }}+{{ poi.marker.long|linkablelongitude }}/@{{ poi.marker.lat }},{{ poi.marker.long }},15z">View at Google Maps</a>
                </p>
            </div>
            <p class="visible-xs"><strong><a href="https://www.google.com/maps/place/{{ poi.marker.lat|linkablelatitude }}+{{ poi.marker.long|linkablelongitude }}/@{{ poi.marker.lat }},{{ poi.marker.long }},15z">View location at Google Maps.</a></strong><br>Embedded map available on larger devices.</p>
        </section>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxCuyULS1j9utodXGtNfFQs1fpe0nwoXM&sensor=false"></script>
        <script type="text/javascript">
        function initialize() {
            var map_canvas = document.getElementById('map_canvas');
            var map_options = {
                center: new google.maps.LatLng({{ poi.marker.lat }}, {{ poi.marker.long }}),
                zoom: 12,
                mapTypeControl: true,
                mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            
            var map = new google.maps.Map(map_canvas, map_options);
            
            var {{ poi.marker.name }}Marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ poi.marker.lat }}, {{ poi.marker.long }}),
                map: map,
                title: "{{ poi.marker.full_name|safe }}",
                icon: "{% static 'images/map_icons/'|add:poi.marker.icon.filename %}"
            });
            
            var ceremonyMarker = new google.maps.Marker({
                position: new google.maps.LatLng({{ ceremonyMarker.lat }}, {{ ceremonyMarker.long }}),
                map: map,
                title: "{{ ceremonyMarker.full_name }}",
                icon: "{% static 'images/map_icons/'|add:ceremonyMarker.icon.filename %}"
            });
            
            var receptionMarker = new google.maps.Marker({
                position: new google.maps.LatLng({{ receptionMarker.lat }}, {{ receptionMarker.long }}),
                map: map,
                title: "{{ receptionMarker.full_name }}",
                icon: "{% static 'images/map_icons/'|add:receptionMarker.icon.filename %}"
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </div>
{% endblock content %}