{% extends 'tourisminfo/base_poi_index.html' %}

{% block page_title %}{% block h2 %}Alpena Area Attractions &amp; Food{% endblock h2 %}{% endblock page_title %}

{% block page_description %}
    <p>Need some lunch before the ceremony? Are you planning to stay for the weekend but unsure of where to find dinosaurs in a forest? This page is your guide to doing Alpena <em>the Claire and Adam way&#8482;</em>.</p>
{% endblock page_description %}

{% block empty_description %}No attraction or food information available at this time{% endblock empty_description %}

{% block detail_url %}{% url 'tourisminfo:attraction_detail' poi.slug %}{% endblock %}