{% extends 'tourisminfo/base_poi_index.html' %}

{% block page_title %}{% block h2 %}Alpena Area Attractions &amp; Food{% endblock h2 %}{% endblock page_title %}

{% block page_description %}
    <p>Planning to stay the weekend? Looking for lunch before the ceremony? This page lists attractions, shops, and restaurants in the Alpena region. Only attractions likely to be open at the time of our wedding are listed; for year-round information, visit the <a href="http://www.alpenacvb.com/">Alpena CVB Website</a>.</p>
{% endblock page_description %}

{% block empty_description %}No attraction or food information available at this time{% endblock empty_description %}

{% block detail_url %}{% url 'tourisminfo:attraction_detail' poi.slug %}{% endblock %}