{% load staticfiles %}

<div class="gmap-wrapper text-center hidden-xs">
    <div id="map_canvas"></div>
    <p><a href="{{ map.full_map_link }}">Directions at Google Maps</a></p>
</div>
<p class="visible-xs"><strong><a href="{{ map.full_map_link }}">Directions at Google Maps</a></strong>.</p>
<p class="visible-xs">Embedded map available on larger screens.</p>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxCuyULS1j9utodXGtNfFQs1fpe0nwoXM&sensor=false"></script>
<script type="text/javascript">
function initialize() {
    var map_canvas = document.getElementById('map_canvas');
    var map_options = {
		center: new google.maps.LatLng({{ map.startLat }}, {{ map.startLong }}),
		zoom: {{ map.startZoom }},
		mapTypeControl: true,
		mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
		mapTypeId: google.maps.MapTypeId.ROADMAP
	}
    
	var map = new google.maps.Map(map_canvas, map_options);
    
    {% for marker in map.markers.all %}
        var {{ marker.name }}Marker = new google.maps.Marker({
            position: new google.maps.LatLng({{ marker.lat }}, {{ marker.long }}),
            map: map,
            title: "{{ marker.full_name }}",
            icon: "{% static 'images/map_icons/'|add:marker.icon.filename %}"
        });
    {% endfor %}
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
