.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav
li.dropdown.active>.dropdown-toggle, .navbar .nav    
li.dropdown.open.active>.dropdown-toggle,
.navbar, .navbar .navbar-inner {
    filter:none;
    background-image: none;
}

p, table, footer, .panel-body, .breadcrumb, section a, section li, form, label {
	font-size: 14px !important;
}

