@media screen and (max-width: 319px) {
	
	nav {
		/* Makes nav scrollable so all links are able to be viewed, 
		but clicking menu button will force focus to top of page.
		This is not desirable by default and only used for this absurdly
		small width where it may be necessary. */
		position: absolute;
	}
	
	#nav:target {
		max-height: 300%;
	}
}

@media screen and (min-width: 400px) {
	header {
		background-image: url('../images/ui/banner_480.png');
	}
	
	h1 {
		font-size: 2.5em;
	}
	
	h2 {
		font-size: 1.8em;
	}
	
	header span {
		font-size: 1.4em;
	}
}

@media screen and (min-width: 480px) {
	body {
		font-size: 1em;
	}
	
	h1 {
		font-size: 3.2em;
	}
	
	#primary {
		margin: 1em auto;
		border-radius: .7em;
	}
	
	.hamburger {
		font-size: 2.6em;
	}
	
	.faq-entry {
		padding-left: 1em;
		padding-right: 1em;
	}
	
	.gmap-wrapper {
		display: block;
	}
	
	.only-smallscreen {
		display: none;
	}

}

@media screen and (min-width: 600px) {
	#footer-extras {
		display: inline;
	}
}

@media screen and (min-width: 768px) {
	
	header {
		background-image: url('../images/ui/banner.png');
		margin-top: 0;
		text-align: left;
		padding: 1em 1.5em;
	}
	
	header span {
		font-size: 1.5em;
	}
	
	#close-nav {
		display: none;
	}
	
	.topbar {
		display: none;
	}
	
	.subnav {
		/*margin-right: .5em;*/
		padding-bottom: .5em;
		border-bottom: 1px solid;
	}
	
	.subnav-label {
		font-size: 1.1em;
	}
	
	nav>ul>li {
	float: none;
	}
	
	h1 {
		font-size: 3.7em;
	}
	
	h2 {
		font-size: 2em;
		margin-top: .5em;
	}

	#primary {
		width: 70%;
		border-radius: .7em;
		float: left;
		margin: 1em 0 2em 1em;
	}
	
	nav {
		padding: .5em 0;
		padding-right: 1em;
		max-height: none;
		position: static;
		z-index: 1000; /* Keep this high for pages with embedded maps */
		width: 18%;
		min-width: 11em;
		float: left;
		margin-top: .5em;
		border-radius: 0 .4em .4em 0;
	}
	
	nav ul a {
		padding: .6em 1em;
		font-size: 105%;
	}
	
	div.minigallery {
		width: 90%;
	}
	
	div.point-of-interest-listing {
		max-width: 50%;
	}
	
	.lightbox p {
		margin: 0;
		color: white;
		font-size: 1.3em;
	}
	
	.faq-entry {
		padding-left: 2.5em;
		padding-right: 2.5em;
	}
	
	.only-largescreen {
		display: initial;
	}
}

@media screen and (min-width: 800px) {
	#primary {
		width: %;
	}
}
