{% extends 'base.html' %}
{% load staticfiles %}
{% load core_tags %}

{% comment %}NOTE this template expects a context variable named subheader_image, with attributes as in core.models.BaseImage{% endcomment %}

{% block extra_js %}
    <script src="{% static 'js/picturefill.min.js' %}" async></script>
{% endblock extra_js %}

{% block content_header %}
    {% if subheader_image %}
        <div class="subheader-img-wrapper center-block">
                <picture alt="{{ subheader_image.alt_text }}">
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="{% static subheader_image.static_path %}" media="(min-width:1201px)">
                    <source srcset="{% static subheader_image.static_path|filenamesuffix:'_l' %}" media="(min-width:993px)">
                    <source srcset="{% static subheader_image.static_path|filenamesuffix:'_m' %}" media="(min-width:769px)">
                    <source srcset="{% static subheader_image.static_path|filenamesuffix:'_s' %}" media="(min-width:481px)">
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="{% static subheader_image.static_path|filenamesuffix:'_xs' %}">
                </picture>
        
                {% if subheader_image.caption %}
                    <p class="text-center">{{ subheader_image.caption|safe }}</p>
                {% endif %}
        </div>
    {% endif %}
{% endblock content_header %}
