{% extends 'base.html' %}
{% load staticfiles %}

 {% block page_title %}{% block h2 %}Welcome{% endblock h2 %} {% endblock page_title %}
 
 {% block content %}
    <div class="swap-image-wrapper center-block">

            <img src="{% static 'images/subheaders/welcome1.jpg' %}">
            <img src="{% static 'images/subheaders/welcome1.jpg' %}" class="swap">
            <img src="{% static 'images/subheaders/welcome2.jpg' %}" id="swapper" class="swap">

    </div>
 
    <section>
        <h3>Introduction</h3>
        <p>Welcome to Claire and Adam's wedding site! In the coming months as we plan and then count down to our wedding, this site will be continually updated. It is designed to function as the first stop for any important information or tips one might need about our wedding.</p>
        <p>If you run into any problems using this site, or you suspect something doesn't look or work as intended, Adam would greatly appreciate it if you would <a href="{% url 'core:contact' %}">let him know.</a></p>
        <p>A good place to start is the <a href="{% url 'faq:index' %}">FAQ</a> page!</p>
    </section>
 {% endblock content %}
 
 {% block body_end %}
   <script type="text/javascript">
        function toggleSwapper() {
            $('.swap').fadeToggle(1000);
        }
        
        $(document).ready(function() {
            setInterval(toggleSwapper, 5000);
        });
    </script>
 {% endblock body_end %}