{% extends 'base.html' %}

{% block page_title %}Message Sent{% endblock page_title%}
{% block h2 %}Thanks!{% endblock h2 %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'pages:contact' %}">Contact</a></li>
        <li class="active">Message Sent</li>
    </ol>
{% endblock breadcrumb %}

{% block content-col-extraclass  %}no-border{% endblock %}

{% block content %}
    <p class="text-center">Your message has been sent! You should hear back from Claire and Adam soon.</p>
{% endblock content %}