{% extends 'base_content_header_img.html' %}
{% load core_tags %}

{% block page_title %}{% block h2 %}Contact Us{% endblock h2 %}{% endblock page_title%}

{% block content %}
    <div id="primary-text">
        <section >
            <h3>Write Us!</h3>
            <p>Use the form below to contact Claire and Adam. Feel free to ask questions about the wedding, report a problem with this site, or just say hi! Be sure to provide your correct email address so we can get back to you.</p>
            <form id="contact-form" action="{% url 'pages:contact' %}#contact-form" method="post" role="form">{% csrf_token %}
                {% for field in form %}
                    {% if "checkbox" in field|escape %}
                        <div class="checkbox">
                            {{ field.errors }}
                            <label for="{{ field.id_for_label }}">
                                {{ field }} {{ field.label }}
                            </label>
                        </div>
                    {% else %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            {{ field.errors }}
                            {{ field.label_tag }} 
                            {{ field|addwidgetcss:"form-control" }}
                        </div>
                    {% endif %}
                {% endfor %}
                <input type="submit" value="Submit" />
            </form>
        </section>
        <section>
            <h3>Email</h3>
            <p>If you'd prefer to email us, we can be reached at <a href="mailto:beaglemadillwedding@gmail.com">beaglemadillwedding@gmail.com</a>.</p>
        </section>
    </div>
{% endblock content %}