{% extends 'base_content_header_img.html' %}
{% load staticfiles %}
{% load core_tags %}

 {% block full_page_title %}Beagle-Madill Wedding{% endblock full_page_title %}
 
 {% block h2 %}Welcome{% endblock h2 %} 
 
 {% block content %}
    <div class="swap-image-wrapper center-block">
        <picture alt="{{ subheader_image.alt_text }}">
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="{% static 'images/subheaders/welcome2.jpg' %}" media="(min-width:1201px)">
            <source srcset="{% static 'images/subheaders/welcome2.jpg' |filenamesuffix:'_l' %}" media="(min-width:993px)">
            <source srcset="{% static 'images/subheaders/welcome2.jpg' |filenamesuffix:'_m' %}" media="(min-width:769px)">
            <source srcset="{% static 'images/subheaders/welcome2.jpg' |filenamesuffix:'_s' %}" media="(min-width:481px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="{% static 'images/subheaders/welcome2.jpg' |filenamesuffix:'_xs' %}">
        </picture>
        <picture alt="{{ subheader_image.alt_text }}">
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="{% static 'images/subheaders/welcome1.jpg' %}" media="(min-width:1201px)">
            <source srcset="{% static 'images/subheaders/welcome1.jpg' |filenamesuffix:'_l' %}" media="(min-width:993px)">
            <source srcset="{% static 'images/subheaders/welcome1.jpg' |filenamesuffix:'_m' %}" media="(min-width:769px)">
            <source srcset="{% static 'images/subheaders/welcome1.jpg' |filenamesuffix:'_s' %}" media="(min-width:481px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="{% static 'images/subheaders/welcome1.jpg' |filenamesuffix:'_xs' %}">
        </picture>
        <picture alt="{{ subheader_image.alt_text }}">
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="{% static 'images/subheaders/welcome2.jpg' %}" media="(min-width:1201px)">
            <source srcset="{% static 'images/subheaders/welcome2.jpg' |filenamesuffix:'_l' %}" media="(min-width:993px)">
            <source srcset="{% static 'images/subheaders/welcome2.jpg' |filenamesuffix:'_m' %}" media="(min-width:769px)">
            <source srcset="{% static 'images/subheaders/welcome2.jpg' |filenamesuffix:'_s' %}" media="(min-width:481px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="{% static 'images/subheaders/welcome2.jpg' |filenamesuffix:'_xs' %}">
        </picture>
        <p class="text-center">Marriage would be nice, yes?</p>
    </div>
    
    <section>
        <h3>Introduction</h3>
        <p>Welcome to Claire and Adam's wedding site! This site is designed to function as the first stop for any important information or tips one might need about our wedding.</p>
        <p>If you run into any problems using this site, or you suspect something doesn't look or work as intended, Adam would greatly appreciate it if you would <a href="{% url 'pages:contact' %}">let him know.</a></p>
        <p>A good place to start is the <a href="{% url 'faq:index' %}">FAQ</a> page!</p>
    </section>
 {% endblock content %}
 
 {% block body_end %}
    {{ block.super }}
   <script type="text/javascript">
        function toggleSwapper() {
            $('.swap').fadeToggle(1000);
        }
        
        $(document).ready(function() {
            $('.swap-image-wrapper picture:nth-child(2) img').addClass('swap');
            $('.swap-image-wrapper picture:nth-child(3) img').addClass('swapper swap');
            $('.swapper').css("opacity", "0%");
            setInterval(toggleSwapper, 5000);
        });
    </script>
 {% endblock body_end %}